* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Light Theme */
  --background-light: #f2f2f2;
  --text: #fff;
  --text-input: #b3b3b3;
  --header-light: #4d79ff;
  --button-light: #4d79ff;
  --border-hover: #4d79ff;
  --border: #b3b3b3;
  --background-message-success: #76e7a5;
  --background-message-error: #e77676;
  --text-message-success: #02703d;
  --text-message-error: #700202;

  /* Dark Theme */
  --text-dark: #535252;
}

body, html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: var(--background-light);
}

header {
  margin: auto;

  width: 100%;
  min-width: 280px;
  height: 40vh;

  background: var(--header-light);
}

.container {
  display: flex;
  flex-direction: column;
  margin: -175px auto;
  padding: 1em;
  gap: 1em;
  
  max-width: 300px;
  min-width: 350px;
  height: 350px;
  border-radius: 8px;

  background: var(--background-light);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.container h1 {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: var(--text-dark);
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.container form .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 0.7em;
    margin: 5px;
    padding: 10px;

    width: 100%;
    height: 50px;

    border-radius: 8px;
    border: 1px solid var(--border) ;
    background: transparent;
}

.container form .input input {
    width: 230px;
    height: 45px;

    font-size: 1em;

    outline: transparent;
    border: none;
    background: transparent;

    color: var(--text-input);
}

.container form .input input::placeholder {
  color: var(--text-input);
}

.container form .input img {
    cursor: pointer;
}

.container form button {
    margin: 15px;
    width: 100%;
    height: 50px;

    outline: transparent;
    border: none;
    border-radius: 3px;

    font-size: 1.1em;
    font-weight: bold;
    color: var(--text);

    cursor: pointer;
    
    background: var(--button-light);

}

.container .others {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    width: 100%;
    min-width: 240px;
    height: auto;

}

.container .others p {
    text-align: center;
    font-family: sans-serif;
}

.message_success { 
  margin: 250px auto;
  width: 30%;
  max-width: 500px;
  min-width: 260px;
  height: 50px;
  background: var(--background-message-success);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.message_success h2 {
  text-align: center; 
  font-size: 1.3em;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 2.3em;
  color: var(--text-message-success);
}

.message_error {
  margin: 250px auto;
  width: 30%;
  max-width: 500px;
  min-width: 260px;
  height: 50px;
  background: var(--background-message-error);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.message_error h2 {
  text-align: center;
  font-size: 1.3em;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 2.3em;
  color: var(--text-message-error);
}

@media (max-width: 425px) {
  .message_success {
    height: 40px;
  }

  .message_success h2 {
    font-size: 1em;
    line-height: 2.5em;
  }

  .message_error {
    height: 40px;
  }

  .message_error h2 {
    font-size: 1em;
    line-height: 2.5em;
  }
}
