* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

header {
  margin: auto;
  width: 100%;
  min-width: 260px; 
  height: 40vh;
  background: #4d79ff;
}


.container {
  margin: -255px auto;

  width: 50%;
  max-width: 1000px;
  min-width: 260px;
  height: 510px;

  border: 1px solid #0000;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
}

.container form {
  margin: 30px auto;
  
  width: 95%;
  height: 80%;
  
  /* border: 1px solid red; */
}


.container form input {
  display: block;
  
  margin: auto;
  padding: 0px 0px 0px 10px;
  
  width : 100%;
  height: 55px;

  outline: transparent;
  border: 1px solid #b3b3b3;
  /* border-bottom: 2px solid #b3b3b3; */
  border-radius: 3px;
  background: none;
 
  font-size: 1.1em;
  font-family: sans-serif;
  color: #333333;
  
}

.container form textarea {
  display: block;
  margin: auto;

  outline: transparent;

  -webkit-appearance: none;
  margin: 0;
  padding: 10px 0px 0px 10px;
  
  width: 100%;
  height: 200px;

  border: 1px solid #b3b3b3;
  border-radius: 3px;
  
  background-color: #fff;
  
  color: #333333;
  font-size: 1.1em;
  font-family: inherit;
  scrollbar-color: #0000 transparent;
}

.container form label {
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 2em;
}

.container form button {
  display: block;
  
  margin: 30px auto;
  
  width: 50%;
  height: 50px;

  outline: transparent;
  background: #4d79ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: .2s;

  font-size: 1.4em;
  font-family: sans-serif;
  color: #fff;
}

.container form button:hover {
  margin: 25px auto;

}


.message_success { 
  margin: 250px auto;
  width: 30%;
  max-width: 500px;
  min-width: 300px;
  height: 50px;
  background: #76e7a5;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.message_success h2 {
  text-align: center;
  font-size: 1.3em;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 2.3em;
  color: #02703d;
}

.message_error {
  margin: 290px auto;
  width: 30%;
  max-width: 500px;
  min-width: 300px;
  height: 50px;
  background: #e77676;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.message_error h2 {
  text-align: center; 
  font-size: 1.3em;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 2.3em;
  color: #700202;
}

@media(max-width: 425px) {
  .container {
    margin: -195px auto;

    height: 390px;
  }

  .container form input {
    height: 45px;

    font-size: 1em;
  }

  .container form textArea {
    height: 130px;

    font-size: 1em;
  }

  .container form button {
    height: 40px;

    font-size: 1.2em;
  }

  .message_success {
    height: 40px;
  }

  .message_success h2 {
    font-size: 1em;
    line-height: 2.5em;
  }

  .message_error {
    height: 40px;
  }

  .message_error h2 {
    font-size: 1em;
    line-height: 2.5em;
  }

}
