* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Light Theme */
  --background-light: #f2f2f2;
  --text: #fff;
  --header-light: #4d79ff;
  --button-login-light: #fff;
  --button-signup-light: #000080;
  --button-hover: #9999ff;
  --text-login-light: #000080;
  --text-signup-light: #fff;
  --background-message-success: #76e7a5;
  --background-message-error: #e77676;
  --text-message-success: #02703d;
  --text-message-error: #700202;

  /* Dark Theme */
  --background-dark: #09090A;
  --header-dark: #121214;
}

#themes.active {
  background: var(--background-dark);
  transition: 0.4s;
}

#themes.active header {
  background: var(--header-dark);
  border-bottom: 1px solid #2c2b2b;
  transition: 0.4s;
}

#themes.active header .container nav ul .border button {
  margin: 0px 0px 0px 30px;
  transition: 0.3s;

}

#themes.active header .container nav ul .border button .sun {
  display: none;
  transition: 0.3s;

}

#themes.active header .container nav ul .border button .moon {
  display: block;
  transition: 0.3s;

}


body {
  background: #f2f2f2;
}

header {
  margin: auto;
  width: 100%;
  min-width: 260px;
  height: 100px;
  background: #4d79ff;
}

header .container {
  display: flex;

  margin: auto;
  width: 90%;
  max-width: 1250px;
  height: 99%;
 
  align-items: center;
  justify-content: space-between;
}

header .container h2  {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  color: #fff;

}

header .container nav {
  width: 290px;
  height: 50px;

}

header .container nav ul {
  display: flex;
  
  margin: auto;
  width: 90%;
  height: 99%;

  list-style-type: none;

  align-items: center;
  justify-content: space-between;

}

header .container nav ul a button {
  height: 35px;
  
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  font-weight: bold;

  outline: transparent;
  border: none;
  border-radius: 3px;

  cursor: pointer;
  
}

header .container nav ul a .myposts {
  width: 70px;

  background: var(--button-login-light);
  color: var(--text-login-light);
}

header .container nav ul a .logout {
  width: 90px;

  background: var(--button-signup-light);
  color: var(--text-signup-light);
}

header .container nav ul .myposts:hover {
  transition: 0.4s;

  background: var(--button-hover);
  color: var(--text-signup-light);
}

header .container nav ul .logout:hover {
  transition: 0.4s;

  background: var(--button-hover);
  color: var(--text-login-light);
}

header .container nav ul .border {
  display: flex;

  padding: 3px;
  width: 65px;
  height: 35px;

  border-radius: 20px;

  background: #bbbbbb;

  align-items: center;

}

header .container nav ul .border button {
  width: 30px;
  height: 30px;

  outline: transparent;
  border: none;
  border-radius: 50%;
  background: #fff;

  align-items: center;

  cursor: pointer;
  transition: 0.3s;
  
}

header .container nav ul .border button .moon{
  display: none;

}

@media (max-width: 425px) {
  header .container h2 {
    font-size: 1.2em;
  }

  nav {
    display: none;
  }

  .line-one,
  .line-two,
  .line-three {
    margin: 5px auto;
    width: 100%;
    height: 5px;

    border-radius: 8px;

    background: #fff;

    transition: 0.3s;

  }

  .menu-container {
    position: absolute;
    top: 30px;
    right: 15px;

    width: 40px;
    height: 30px; 

  }

  .menu-box.active {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: #4d79ff;

    z-index: 10px;
  }

  #themes.active .menu-box.active {
    background: var(--header-dark);
  }

  .menu-box.active nav {
   display: block;

    
    width: 90%;
    height: auto; 

    margin: 150px auto; 

  }

   .menu-box.active nav ul {
    display: block;
  }

  .menu-box.active nav ul a button {
    margin: 5px auto;
    width: 99%;
    height: 50px; 
  }

  .menu-box.active nav ul li a button { 
    font-size: 1.4em;
  }

  .menu-box.active nav ul .border {
    margin: 5px auto;
  }

  .menu-box.active .menu-container .line-one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-box.active .menu-container .line-two {
    opacity: 0;
  }

  .menu-box.active .menu-container .line-three {
    transform: rotate(-45deg) translate(8px, -7px);
  }
}
