  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
  /* Light Theme */
  --background-light: #f2f2f2;
  --background-message-success: #76e7a5;
  --background-message-error: #e77676;
  --header-light: #4d79ff;
  --text: #fff;
  --text-light: #cccccc;
  --text-blue: #000080;
  --text-message-success: #02703d;
  --text-message-error: #700202;  
  --button-white: #fff;
  --button-blue: #000080;
  --border-light: #b3b3b3;
  --border-comment-light: #d9d9d9;
  --box-comment-light: #ECEBEB;

  /* Dark Theme */
  --background-dark: #09090A;
  --header-dark: #121214;
  --text-dark: #535252;
  --border-dark: #2c2b2b;
  --box-comment-dark: #121214;
}

#themes.active {
  background: var(--background-dark);
  transition: 0.3s;
}

#themes.active header {
  background: var(--header-dark);
  border-bottom: 1px solid var(--border-dark);
  transition: 0.3s;
}

#themes.active header .container h2 {
  color: var(--text-light);
}

#themes.active header .container nav ul a .post {
  background: var(--button-white);
  color: var(--text-blue);
  transition: 0.3s;
}

#themes.active header .container nav ul a .post:hover {
  background: var(--button-blue);
  color: var(--text);
  transition: 0.3s;
}

#themes.active header .container nav ul .border button {
  margin: 0px 0px 0px 30px;
  transition: 0.3s;
}

#themes.active header .container nav ul .border button .sun {
  display: none;
  transition: 0.3s;
}

#themes.active header .container nav ul .border button .moon {
  display: block;
  transition: 0.3s;

}

#themes.active main .main-container ul li {
  border: 1px solid var(--border-dark);
  background: var(--box-comment-dark);
  transition: 0.3s;
}

#themes.active main .main-container ul li .profile {
  border-bottom: 1px solid var(--border-dark);
  transition: 0.3s;
}

#themes.active main .main-container ul li .profile .image {
  border: 2px solid var(--text-dark);
  transition: 0.3s;
}

#themes.active main .main-container ul li .profile .image .user-light {
  display: none;
  transition: 0.3s;
}
#themes.active main .main-container ul li .profile .image .user-dark {
  display: block;
  transition: 0.3s;
}

#themes.active main .main-container ul li .profile h2 {
  color: var(--text-dark);
  transition: 0.3s;
}

#themes.active main .main-container ul li h3 {
  color: var(--text-light);
  transition: 0.3s;
}

#themes.active main .main-container ul li .campText {
  color: var(--text-light);
  transition: 0.3s;
}

#themes.active main .main-container ul li .campText p{
  color: var(--text-light);
  transition: 0.3s;
}

#themes.active main .main-container ul li span {
  color: var(--text-light);
  transition: 0.3s;
}

body {
  background: var(--background-light);
  transition: 0.3s;
}

header {
  margin: auto;
  width: 100%;
  min-width: 260px;
  height: 100px;
  
  background: var(--header-light);
  transition: 0.3s;
}

header .container {
  display: flex;

  margin: auto;
  width: 90%;
  max-width: 1250px;
  height: 99%;

  align-items: center;
  justify-content: space-between;

}

header .container h2 { 
  font-family: 'Varela Round', sans-serif;
  font-size: 1.8em;
  font-weight: 300;
  color: var(--text);
  transition: 0.3s;
}

header .container nav {
width: 190px;
height: 50px;

}

header .container nav ul {
  display: flex;
  
  margin: auto;
  width: 90%;
  height: 99%;

  list-style-type: none;

  align-items: center;
  justify-content: space-between;

}

header .container nav ul a button {
  height: 35px;
  
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  font-weight: bold;

  outline: transparent;
  border: none;
  border-radius: 3px;

  cursor: pointer;
  
}

header .container nav ul a .post {
  width: 90px;

  background: var(--button-blue);
  color: var(--text);
  transition: 0.3s;
}

header .container nav ul a .post:hover {
  background: var(--button-white);
  color: var(--text-blue);
  transition: 0.3s;
}

header .container nav ul .border {
  display: flex;

  padding: 3px;
  width: 65px;
  height: 35px;

  border-radius: 20px;

  background: #aaaaaa;

  align-items: center;
  transition: 0.3s;

}

header .container nav ul .border button {
  width: 30px;
  height: 30px;

  outline: transparent;
  border: none;
  border-radius: 50%;
  background: #fff;

  align-items: center;

  cursor: pointer;
  transition: 0.3s;
  
}

header .container nav ul .border button .moon{
  display: none;

}

main {
  margin: 20px auto;
  width: 98vw;
  height: auto;
  min-height: 200px;


}

main .main-container {
  margin: auto;

  width: 60%;
  max-width: 1250px;
  min-width: 300px;
  height: 100%;
}

main .main-container ul {
  margin: auto;

  width: 100%;
  height: 100%;
  min-height: 200px;

}

main .main-container ul li {
  display: block;
  
  margin: 10px auto;
  width: 100%;
  height: 100%;
  min-height: 200px;

  border: 1px solid var(--border-light);
  border-radius: 8px;

  background: var(--box-comment-light);

}

main .main-container ul li .profile {
  display: flex;

  width: 100%;
  height: 70px;

  border-bottom: 1px solid  var(--border-comment-light);
  transition: 0.3s;

}

main .main-container ul li .profile .image {
  margin: 10px 0px 0px 10px;

  width: 50px;
  height: 50px;

  border: 2px solid var(--background-dark);
  border-radius: 50%;
  transition: 0.3s;
}

main .main-container ul li .profile .image img {
  margin: 9px 0px 0px 8px;
  width: 30px;
  height: 30px;
}

main .main-container ul li .profile .image .user-dark {
  display: none;
  transition: 0.3s;
}

main .main-container ul li .profile h2 {
  margin-left: 10px;
  
  text-align: center;
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 3.9em;
  color: var(--text-dark);
  transition: 0.3s;

}

main .main-container ul li .profile span {
  margin-left: 10px;

  font-family: sans-serif;
  font-size: .8em;
  line-height: 3.8em;
}


main .main-container ul li h3 {
  margin-top: 30px;

  font-family: sans-serif;
  font-size: 1.5em;
  text-indent: 10px;
}

main .main-container ul li .campText {
  margin: 10px auto;
  width: 97%;
  height: auto;

}

main .main-container ul li .campText p {
  text-align: center;
  font-family: sans-serif;
  /* text-indent: 10px; */
  text-align:justify;
  /* line-height: 2em; */

  word-wrap: break-word;

}

main .main-container ul li .options {
  display: flex;

  margin: 30px 0px 0px 0px;
  width: 100%;
  height: 40px;

  gap: 1em;

}

main .main-container ul li .options .options-container {
  display: flex;
  margin: auto;
  width: auto;
  height: auto;

  gap: 0.3em;

}

main .main-container ul li .options .options-container button {
  margin: auto;
  width: 90px;
  height: 30px;

  outline: transparent;
  border-radius: 8px;

  font-family: sans-serif;
  font-weight: bold;
  color: #000;

  cursor: pointer;

  align-items: center;

  background: none;
  transition: 0.3s;
}

main .main-container ul li #btn-edit {
    border: 1px solid #009900;
  } 

main .main-container ul li #btn-delete {
  border: 1px solid #ff0000;
}


@media(max-width: 425px) {
  header .container h2 {
    font-size: 1.2em;
    line-height: 5.3em;
  }

  header .container nav {
    display: none;
  }

  .line-one,
  .line-two,
  .line-three {
    margin: 5px auto;
    width: 100%;
    height: 5px;

    border-radius: 8px;

    background: #fff;

    transition: .3s;
  }

  .menu-container {
    position: absolute;
    top: 30px;
    right: 15px;

    width: 40px;
    height: 30px;
  }

  .menu-box.active {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: #4d79ff;

    z-index: 10px;
  }

  #themes.active .menu-box.active {
    background: var(--header-dark);
  }

  .menu-box.active nav {
    display: block;

    width: 90%;
    height: auto; 

    margin: 150px auto;
  }

  .menu-box.active nav ul {
    display: block;
  }

  .menu-box.active nav ul a button {
    margin: 5px auto;
    width: 99%;
    height: 50px; 
  }

  .menu-box.active nav ul a button { 
    font-size: 1.4em;
  }

  .menu-box.active nav ul .border {
    margin: 5px auto;
  }

  .menu-box.active .menu-container .line-one {
    transform: rotate(45deg) translate(7px, 7px);
  }
  .menu-box.active .menu-container .line-two {
    opacity: 0;
  }
  .menu-box.active .menu-container .line-three {
    transform: rotate(-45deg) translate(8px, -7px);
  }

  main .main-container ul li .profile .image {
    width: 50px;
    height: 50px;
  }

  main .main-container ul li .profile .image img {
    width: 30px;
    height: 30px;
  }

  main .main-container ul li .profile h2 {
    font-size: 1em;
    line-height: 4.4em;
  }

  main .main-container ul li .profile span {
    display: none;
    font-size: .4em;
  }

  main .main-container ul li h3 {
    font-size: 1.3em;
  }

  main .main-container ul li .campText {
    width: 93%;
  }

  main .main-container ul li .options .options-container button {
    width: 90px;
    height: 25px;
  }

}

@media(max-width: 290px) {
  main .main-container {
    min-width: 260px;

  }

  .message_success {
    min-width: 260px;
  }

  .message_error {
    min-width: 260px;
  }
}
