<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/post/homeUser/style.css">
  <title>posts</title>
</head>

<body>
  <header>
    <div class="container">
      <h2>Welcome <%= data.name %>
      </h2>
      <div class="menu-box">
        <div class="menu-container">
          <div class="line-one"></div>
          <div class="line-two"></div>
          <div class="line-three"></div>
        </div>
        <nav>
          </h2>
          <ul>
            <li><a href="/posts/<%= data.id %>">my posts</a></li>
            <li><a href="/auth/logout">logout</a></li>
          </ul>
        </nav>

      </div>
    </div>
  </header>

  <script src="/js/menu/main.js"></script>
</body>

</html>
